<h1>Hello world, Abigail here with a lust for learning.</h1>
<div class="jumbotron">
    <h2> Stukdo </h2>
    <p>This site is purely practice and has no use.</p>
    <%= link_to 'Sign up', "#", class: 'btn btn-primary btn-lg' %>
</div>
<img src="https://i.pinimg.com/736x/16/9e/fd/169efd8c7bb1f9504335171340dcce0a--fluffy-kittens-baby-kittens.jpg">
